/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-sep-2014, 23:59:30
    Author     : adelasotoalvarezdelcastillo
*/


body{
    background-image: url('img1.jpg');
    background-color: #cccccc;
    text-align:center
    
}

p,h4,h2,li,cite,footer,header{
    color: rgba(255, 255, 255, 1);
}

.texto1{
    font-family: sans-serif;
    font-size: 12;
    color: rgba(233, 44, 44, 0.9);
}
#texto2{
    font-family: sans-serif;
    color: rgba(233, 44, 44, 0.9);
}

#texto3{
    font-family: sans-serif;
}

p, li{
    font-family: monospace;
}

blockquote{
    font-family: sans-serif;
    color:rgba(97, 84, 255, 0.7);
}



