/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/09/2014, 11:18:43 AM
    Author     : adelasotoalvarezdelcastillo
*/

.todo{
    text-align: center;
        width: 1000px;
        border: 1px solid #FFFFFF;
        margin: 0 auto;
        height: 450px;
}

table,th, td{
    font-family:  sans-serif;
    font-size: 10px;
    text-align: center;
    
    
} 

input{
    border:double 5px #b9bec9;
    border-radius: 56px;
    
    
}

.x{
    width: 10px;
}

.nombres{
    width: 520px;
}


#primeraParte{
    text-align: center;
    
}

#cajitas{
    font-size: 7px;
    text-align: center;
}

#terceraParte{
    border:1px solid black;
    text-align: center;
}

footer{
    font-size: 10px;
    color: #b9bec9;
}

#calculadora{
    text-align: center;
}